.container {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 4px #ccc;
  padding-bottom: 20px;
  margin-top: 10px;
}
h1 {
  padding: 5px;
}
table thead th {
  background: #337ab7;
  color: #fff;
  padding: 10px;
  font-size: 80%;
  width: 25%;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

label {
  margin: 5px 0 10px;
}

#buttons a {
  margin: 5px 0;
}
