table thead th {
  background: #337ab7;
  color: #fff;
  padding: 10px;
  font-size: 80%;
  width: 25%;
}

table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

label {
  margin: 5px 0 10px;
}

#buttons a {
  margin: 5px 0;
}
